<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div
    class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
  >
    <a class="sidebar-brand brand-logo" href="index.php">
      <img src="assets/images/logo.png" alt="logo"
    /></a>
    <a class="sidebar-brand brand-logo-mini" href="index.php"
      ><img src="assets/images/logo-mini.svg" alt="logo"
    /></a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img
              class="img-xs rounded-circle"
              src="assets/images/faces/face15.jpg"
              alt=""
            />
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">Christian NEBOT</h5>
            <span>ADMINS</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"
          ><i class="mdi mdi-dots-vertical"></i
        ></a>
        <div
          class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
          aria-labelledby="profile-dropdown"
        >
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">
                Account settings
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">
                Change Password
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        href="http://localhost/E_Beauty/View/Back/chartjs.php"
      >
        <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">TABLEAU DE BORD</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">GESTION TABLES</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="index.php">UTILISATEURS</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://localhost/E_Beauty/View/Back/pages/tables/gestion_categorie.php"
              >PRODUITS-CAT</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://localhost/E_Beauty/View/Back/pages/tables/gestion_produit.php"
              >PRODUITS-UNI</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.php">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="commades.php">COMMANDES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tutos.php">TUTOS VIDEOS</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://localhost/E_Beauty/View/Back/gestion_blog.php"
              >BLOGS</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-ajout"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">AJOUT</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-ajout">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://localhost/E_Beauty/View/Back/basic_elements.php"
              >LIVREURS</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://localhost/E_Beauty/View/Back/pages/tables/Ajout_categorie.php"
              >PRODUITS-CATEGORIE</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://localhost/E_Beauty/View/Back/pages/tables/Ajout_produit.php"
              >PRODUITS-UNITAIRE</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.php">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="commades.php">COMMANDES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tutos.php">TUTOS VIDEOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blogs.php">BLOGS</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="http://localhost/E_Beauty/View/Back/mail.php">
        <span class="menu-icon">
          <i class="mdi mdi-playlist-play"></i>
        </span>
        <span class="menu-title">MAILING</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        href="http://localhost/E_Beauty/View/Back/reclamation.php"
      >
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">RECLAMATIONS</span>
      </a>
    </li>
  </ul>
</nav>
